:root {
  font-family: sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  flex-basis: 30%;
  border: solid;
  margin: 5px;
  padding: 10px;
}

.emoji {
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding: 20px
}

.product-details {
  display: flex;
  flex-direction: column;
}
